<script type="text/javascript">
    // “_?ˆÂ??o‰ºfy
    $('.ui.dropdown').dropdown();
    // ‘l??•‚İ?‘œãC?oŸƒ–A’ñ¦y
    $('.post-content .avatar').popup({
      inline: true,
      position: 'bottom right',
      lastResort: 'bottom right',
    });
  </script>
  </body>
</html>