<%- include('header') %>

<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form class="ui form segment" method="post">
      <div class="field required">
        <label>—p?–¼</label>
        <input placeholder="—p?–¼" type="text" name="name">
      </div>
      <div class="field required">
        <label>–§?</label>
        <input placeholder="–§?" type="password" name="password">
      </div>
      <input type="submit" class="ui button fluid" value="“o?">
    </div>
  </form>
</div>

<%- include('footer') %>