<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%=blog.title %>
  </title>
  <link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>
  <script src="/lib/bootstrap.js"></script>
  <script src="/js/common.js"></script>
</head>

<body>
  <div class="container" id="signin">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6 center login-header">
        <h1 class="text-center">
          <%= blog.title %>
        </h1>
      </div>
      <div class="col-xs-3"></div>
      <!--/span-->
    </div>
    <!--/row-->
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6 center">
        <form class="form-horizontal" method="post">
          <fieldset>
            <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                        <input type="text" name="name" class="form-control" placeholder="用户名">
                    </div>
                    <div class="clearfix"></div><br>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                        <input type="password" name="password" class="form-control" placeholder="密码">
                    </div>
                    <div class="clearfix"></div>

                    <p class="center col-md-5">
                        <button type="submit" class="btn btn-primary">登录</button>
                    </p>
          </fieldset>
        </form>
    </div>
  </div>
</body>
</html>