<%- include('header') %>
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/stock">home</a></li>
        </ol>
    </div>
    <div id="layer">

    </div>


    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active" onclick="product.stock.ajaxLoad('stock')"><a href="#">库存</a></li>
        <li role="presentation" onclick="product.stock.ajaxLoad('soldOut')"><a href="#">已售出</a></li>
        <li role="presentation" onclick="product.stock.ajaxLoad('delivered')"><a href="#">已出货</a></li>
    </ul>

    <div class="container">
        <div class<div class="container">
            <div class="col-xs-3">
                <button class="btn btn-primary btn-sm" onclick="product.setViewableInfo()">
                    显示项目
                 </button>
                <button class="btn btn-primary" onclick="product.purchase()">
                    进货
                </button>
            </div>
            <div class="col-xs-8">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="">GO</button>
            </span>
                </div>
            </div>
            <div class="col-xs-1">
            </div>
        </div>
        <div class="container">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <% viewableInfos.forEach(function(viewableInfo){ %>
                                <th>
                                    <%= viewableInfo.infoText %>
                                </th>
                                <%})%>
                        </tr>
                    </thead>

                </table>
            </div>

        </div>



        <%- include('footer') %>